html
    head
        title=title
    body
        p1=Body
        form(method="post",action="/api/")
            input(type="text",name="name")
            input(type="text",name="age")
            input(type='submit')

